.login-container {
    width: 60%;
    margin-left: 20%;
}

.login-input[type=text], .login-input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button {
  border-radius: 4px;
  background-color: #20232A;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  float: right;
  font-size: 18px;
}

.login-button:hover {
  opacity: 0.8;
}

.register {
  float: left;
  font-weight: 200;
}

.login-failed {
  font-size: 20px;
  border: 1px solid #f44336;
  border-radius: 5px;
  color: white;
  background-color: #f44336;
  opacity: 1;
  margin-bottom: 50px;
}
